function Main.main 3
    push constant 1
    neg
    pop local 1
label Main_0
    push local 1
    not
    if-goto Main_1
    call Screen.clearScreen 0
    pop temp 0
    call GhostGame.new 0
    pop local 0
    push local 0
    call GhostGame.run 1
    pop temp 0
    push local 0
    call GhostGame.dispose 1
    pop temp 0
    push constant 600
    call Sys.wait 1
    pop temp 0
    call Keyboard.keyPressed 0
    pop local 2
    push local 2
    push constant 140
    eq
    not
    if-goto Main_3
    push constant 0
    pop local 1
    goto Main_2
label Main_3
label Main_2
    goto Main_0
label Main_1
    call Screen.clearScreen 0
    pop temp 0
    push constant 11
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push constant 15
    call String.new 1
    push constant 74
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return