function Map.new 1
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 16
    pop this 1
    push constant 32
    pop this 2
    push this 1
    call Array.new 1
    pop this 0
    push constant 0
    pop local 0
label Map_0
    push local 0
    push this 1
    lt
    not
    if-goto Map_1
    push local 0
    push this 0
    add
    push this 2
    call Array.new 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Map_0
label Map_1
    push pointer 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 2
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 3
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 4
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 5
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 6
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 7
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 8
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 9
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 10
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 11
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 12
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 13
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 14
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    push constant 15
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    push constant 0
    push constant 0
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 1
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Map.inicializarLinha 34
    pop temp 0
    push pointer 0
    return
function Map.inicializarLinha 1
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push constant 0
    push local 0
    add
    push argument 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 0
    add
    push argument 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 0
    add
    push argument 5
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 0
    add
    push argument 6
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 0
    add
    push argument 7
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 0
    add
    push argument 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 0
    add
    push argument 9
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 0
    add
    push argument 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 9
    push local 0
    add
    push argument 11
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 0
    add
    push argument 12
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 11
    push local 0
    add
    push argument 13
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 0
    add
    push argument 14
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 0
    add
    push argument 15
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 14
    push local 0
    add
    push argument 16
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 0
    add
    push argument 17
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 16
    push local 0
    add
    push argument 18
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 17
    push local 0
    add
    push argument 19
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 18
    push local 0
    add
    push argument 20
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 19
    push local 0
    add
    push argument 21
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 20
    push local 0
    add
    push argument 22
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 21
    push local 0
    add
    push argument 23
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 22
    push local 0
    add
    push argument 24
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 23
    push local 0
    add
    push argument 25
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 24
    push local 0
    add
    push argument 26
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 25
    push local 0
    add
    push argument 27
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 26
    push local 0
    add
    push argument 28
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 27
    push local 0
    add
    push argument 29
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 28
    push local 0
    add
    push argument 30
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 29
    push local 0
    add
    push argument 31
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 30
    push local 0
    add
    push argument 32
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 31
    push local 0
    add
    push argument 33
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Map.drawMap 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Map_2
    push local 0
    push this 1
    lt
    not
    if-goto Map_3
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Map_4
    push local 1
    push this 2
    lt
    not
    if-goto Map_5
    push local 1
    push local 2
    add
    pop pointer 1
    push that 0
    push constant 1
    eq
    not
    if-goto Map_7
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 1
    push constant 16
    call Math.multiply 2
    push local 0
    push constant 16
    call Math.multiply 2
    push local 1
    push constant 16
    call Math.multiply 2
    push constant 16
    add
    push local 0
    push constant 16
    call Math.multiply 2
    push constant 16
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Map_6
label Map_7
label Map_6
    push local 1
    push constant 1
    add
    pop local 1
    goto Map_4
label Map_5
    push local 0
    push constant 1
    add
    pop local 0
    goto Map_2
label Map_3
    push constant 0
    return
function Map.isWall 3
    push argument 0
    pop pointer 0
    push argument 1
    push constant 16
    call Math.divide 2
    pop local 0
    push argument 2
    push constant 16
    call Math.divide 2
    pop local 1
    push local 0
    push constant 0
    lt
    push local 0
    push constant 31
    gt
    or
    push local 1
    push constant 0
    lt
    or
    push local 1
    push constant 15
    gt
    or
    not
    if-goto Map_9
    push constant 1
    neg
    return
    goto Map_8
label Map_9
label Map_8
    push local 1
    push constant 2
    lt
    push local 0
    push constant 9
    gt
    and
    push local 0
    push constant 23
    lt
    and
    not
    if-goto Map_11
    push constant 1
    neg
    return
    goto Map_10
label Map_11
label Map_10
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push local 0
    push local 2
    add
    pop pointer 1
    push that 0
    push constant 1
    eq
    not
    if-goto Map_13
    push constant 1
    neg
    return
    goto Map_12
label Map_13
label Map_12
    push constant 0
    return